body{
    background: linear-gradient(to top left, #28b487, #7dd56f);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin-bottom: 0px;
}
.modal-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.modal-btn{
    background-color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
}
.modal-info{
    position: absolute;
    width: 601px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    left: 28%;
    top: 30%;
    z-index: 100;
}
.hidden{
    display: none;
}
.modal-info h1{
    margin-bottom: 20px;
    margin-top: 20px;
}
.close-modal-btn{
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    right: 17px;
    top: 4px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}


/* Media Queries Start */
@media (max-width: 575.98px) {
    .modal-info{
        left: 4%;
        width: 400px;
    }
    .modal-info h1{
        margin-top: 43px;
        font-size: 26px;
    }
    .modal-btn-content{
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .modal-btn{
        font-size: 16px;
        padding: 15px 20px;
    }
    .modal-info{
        left: 4%;
        width: 541px;
    }
    .modal-info h1{
        font-size: 37px;
        margin-top: 40px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .modal-btn{
        font-size: 18px;
    }
    .modal-info{
        left:9%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .modal-info{
        left:18%;
    }
}
/* Media Queries End */